<!doctype html>
<html class="no-js" lang="en">
<!-- footer start -->
{% include 'includes/headnoindex.html' %}
<!-- footer end -->

<!-- "about" section start -->
<section class="section">
    <div class="section-content container">
        <div class="row text-center text-lg-left">
            <div class="col-12 col-lg-8 mb-12 mb-lg-0 d-flex align-items-center">
                <div class="pr-0 pr-lg-10">
                    <h1 class="mb-0">Federal Criminal Defense</h1>
                    <p class="mt-8 mb-11">If you become “a target” of a federal criminal investigation, law enforcement authorities have already concluded that you have in the past or are currently committing a criminal offense.</p>
                    <p class="mt-8 mb-11">Consequently, when you or someone you may have had a close relationship with,  first learns that a federal criminal investigation had been initiated and its focus may involve you, your business dealings, your practices and/or associations, you should contact an experienced federal criminal defense attorney and schedule a confidential consultation as soon as possible.</p>
                    <p class="mt-8 mb-11">During this initial consultation, as an experienced federal criminal defense attorney I will help you understand the federal criminal investigative and charging process you are facing.</p>
                    <p class="mt-8 mb-11">I will also explain your rights if you have been served a grand jury subpoena either as a material witness or a potential subject, or if you have received a “target letter”.</p>
                    <p class="mt-8 mb-11">I will also explain the difference between a criminal complaint, indictment and criminal information.</p>
                    <p class="mt-8 mb-11">If you have already been formally charged by criminal complaint or indictment, I will review the charges filed and any additional investigation notices you have received, such as, the copy of the search warrant, the inventory of items seized and any court orders issued.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <img src="https://res.cloudinary.com/brightplum/image/upload/s--d3LiabyI--/c_scale,q_jpegmini,w_1280/v1675531611/mitchlaw00/Law_Office_GTM-12.jpg" class="img-fluid w-100" alt="Plaque of Law Office of Gregory Mitchell on bookcase">
            </div>
        </div>
    </div>
</section>
<!-- "about" section end -->

<!-- footer start -->
{% include 'includes/footer.html' %}
<!-- footer end -->

<script src="assets/js/vendor.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>
