<!doctype html>
<html class="no-js" lang="en">
<!-- footer start -->
{% include 'includes/head.html' %}
<!-- footer end -->

<!-- "about" section start -->
<section class="section" id="about">
    <div class="section-content container">
        <div class="row text-center text-lg-left">
            <div class="col-12 col-lg-6 mb-12 mb-lg-0 d-flex align-items-center">
                <div class="pr-0 pr-lg-10">
                    <h1 class="mb-0">Focuses, Committed, Experienced</h1>
                    <p class="mt-8 mb-11">I established the Law Office of Gregory T. Mitchell, P.C. in 2000.</p>
                    <p class="mt-8 mb-11">I began my legal training as a Staff Judge Advocate in the United States Marine Corps in 1987, after earning my Juris Doctorate from the University of Illinois College of Law, Urbana, Illinois in 1987. Before law school, I served on active duty as a personnel officer in the Marine Corps after graduating from Drake University, Des Moines, Iowa in 1980 with a Bachelor of Arts degree in political science. I also earned a Master of Public Administration degree from Golden Gate University, San Francisco, California in 1984.</p>
                    <p class="mt-8 mb-11">I established the Law Office of Gregory T. Mitchell, P.C. to serve as an advocate – a lawyer who fights. Since 2000, I have concentrated by practice in two areas of litigation – <strong>employment law</strong> and <strong>federal criminal defense</strong>.</p>
                    <a href="tel:7087999325" class="btn btn-lg btn-primary">Call (708) 799-9235</a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img src="https://res.cloudinary.com/brightplum/image/upload/s--6Doex4WL--/c_scale,q_jpegmini,w_1280/v1674081346/mitchlaw00/Law_Office_GTM-10.jpg" class="img-fluid w-100" alt="welcome image">
            </div>
        </div>
    </div>
</section>
<!-- "about" section end -->

<!-- footer start -->
{% include 'includes/footer.html' %}
<!-- footer end -->

<script src="assets/js/vendor.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>
